body {
  background: linear-gradient(241deg, #1e425e, #256670, #407056, #4fb469, #82c158);
  animation: gradient 30s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
