html {
  color: #000;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 500px;
  background: #dcded5;
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: 0 20px 50px #000;
  padding: 2rem;
}

.text p {
  margin-bottom: 0.5rem;
}

.cards {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-items: space-evenly;
  gap: 0.3rem;
  margin-bottom: 1rem;
}

.Logo {
  width: 100%;
}

.form_card {
  display: grid;
  grid-template-columns: min-content auto 1fr min-content;
  gap: 1rem;
  color: black;
}

input[type="number"] {
  width: 7ch;
  justify-self: end;
  align-self: center;
  background: none;
  border: 2px solid black;
  border-radius: 0.5rem;
  text-align: right;
}

input[type="number"]::-webkit-inner-spin-button {
  margin-left: 4px;
  opacity: 1;
}

input[type="range"] {
  justify-self: end;
  height: 100%;
  width: 100%;
  background: none;
}

h3 {
  justify-self: center;
  text-align: center;
  height: 100%;
  width: 100px;
}

.svg {
  fill: black;
  width: 32px;
  height: 100%;
  align-self: center;
}

.btns {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}
button {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  color: 0;
  background-color: #dcded5;
  border-radius: 0.5rem;
  text-align: center;
}
button:active {
}

input[type="submit"] {
  margin-top: 1rem;
  width: 80%;
  align-self: center;
}

h1,
h2,
p {
  margin: 0;
}
