html {
  color: #000;
}

.App {
  width: 500px;
  height: 700px;
  background: #dcded5;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;
  padding: 1rem;
  margin: 2rem;
}

.cards {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-items: space-evenly;
  gap: 0.3rem;
}

.Logo {
  width: auto;
  height: 22%;
  padding: 1rem;
  margin: 1rem 0 1rem 0;
}

.form_card {
  color: black;
  display: flex;
  flex-direction: row;
  height: 40px;
}

input[type="number"] {
  width: 45px;
  height: 15px;
  justify-self: end;
  align-self: center;
}
input[type="range"] {
  justify-self: end;
  width: 100%;
  margin-right: 1rem;
  background: none;
}

h3 {
  align-self: center;
  width: 50%;
}

.svg {
  fill: black;
  height: auto;
  width: 10%;
  align-self: center;
  padding-right: 0.3rem;
}

.btns {
  margin-top: 0.6rem;
  display: flex;
  justify-content: space-around;
}
button {
  width: 100%;
  padding: 1rem;
  margin: 0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  color: 0;
  background-color: #dcded5;
  text-align: center;
}
button:active {
}

input[type="submit"] {
  margin-top: 1rem;
  width: 80%;
  align-self: center;
}
