html {
  color: #000;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 75vw;
  min-width: 500px;
  max-width: 800px;
  background: #dcded5;
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: 0 20px 50px #000;
  padding: 2rem 0;
}

.App > * {
  padding: 0 2rem;
}

.form {
  padding: 0;
}

.text p {
  margin-bottom: 0.5rem;
}

.cards {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-items: space-evenly;
  gap: 0.3rem;
  margin-bottom: 1.5rem;
}

.form_card:nth-of-type(odd) {
  background: hsl(73, 12%, 81%);
}

.Logo {
  width: 100%;
  box-sizing: border-box;
}

.form_card {
  display: grid;
  grid-template-columns: min-content auto 1fr min-content;
  gap: 1rem;
  color: black;
  padding: 0 2rem;
}

input[type="number"] {
  width: 7ch;
  align-self: center;
  background: none;
  border: 2px solid black;
  border-radius: 0.5rem;
  text-align: right;
  font-size: 1rem;
}

input[type="number"]::-webkit-inner-spin-button {
  margin-left: 10%;
  opacity: 1;
}

input[type="range"] {
  justify-self: center;
  height: 100%;
  width: 100%;
  background: none;
}

.center {
  text-align: center;
}

h3 {
  justify-self: center;
  text-align: center;
  height: 100%;
  width: 100px;
}

.svg {
  fill: black;
  width: 32px;
  height: 100%;
  align-self: center;
}

.btns {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

form .btns {
  padding: 0 2rem;
}

button {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  background-color: #dcded5;
  border-radius: 0.5rem;
  text-align: center;
}

button:active {
}

input[type="submit"] {
  margin-top: 1rem;
  width: 80%;
  align-self: center;
}

h1,
h2,
p {
  margin: 0 0 0.5rem;
}
